extends ../_shared/_base

block body
    form.no-marginform(action="/auth/sign-in" method="POST")
        table.bcollapse
            tbody
                th
                    td
                        h3
                            | Sign In
                tr
                    td
                        | Username:
                    td
                        input.form-field(name="username", placeholder="Enter username")
                tr
                    td
                        | Password:
                    td
                        input.form-field(name="password", type="text", placeholder="Enter password")
                tr
                    td(colspan='2')
                        br
                        a.lfloat.margin-20(href='http://www.phpsitehost.com/demos/realestate1/index.php?mod=forgotten_password') forgotten password?
                        input.ibutton.rfloat.margin-20(value='Login', type='submit')
