extends ../_shared/_base

block body
    .container
        .col-md-4
        #signin.text-center.col-md-4.no-center-padding
            .search-panel
                h3.panel-title Sign In
                hr
                // Sing-In FORM
                if success_msg && success_msg.length > 0
                     each msg in success_msg
                        div(class = "alert alert-success")|#{msg}
                if error_msg && error_msg.length > 0
                    each msg in error_msg
                        div(class = "alert alert-danger")|#{msg}
                if error && error.length > 0
                     each msg in error
                         div(class = "alert alert-danger")|#{msg}
                form.no-marginform(action="/auth/sign-in" method="POST")
                    table.bcollapse
                        tbody
                            tr
                                td
                                    | Username:
                                td
                                    input.form-field(name="username", placeholder="Enter username")
                            tr
                                td
                                    | Password:
                                td
                                    input.form-field(name="password", type="password", placeholder="Enter password")
                            tr
                                td(colspan='2')
                                    br
                                    a.lfloat.margin-20(href='#') forgotten password?
                                    input.ibutton.rfloat.margin-20(value='Login', type='submit')
