include _nav

<!DOCTYPE html>
html(lang="en")
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Real Estate
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/main.css')
    link(rel='stylesheet', href='/static/css/css.css')
    link(rel='stylesheet', href='/static/css/app.css')
    script(type='text/javascript', src='/static/js/jquery.js')
    script(type='text/javascript', src='/static/js/bootstrap.js')
body
    .row.top-container
        .container
            .col-md-4.no-left-padding.center-xs
                br
                a(href="/", title="title") 
                    img.site-logo(src='/static/pictures/logo.png')
            .col-md-8.text-right.no-right-padding
            
    .clear
    .nav-container
        .container
            .pull-left.visible-xs.visible-sm.padding_5
            .clearfix
            #nav_menu.hide-sm.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/sells") Sales
                    li
                        a(href='#') Rentals
                    li
                        a(href='#') Latest Ads
                    li
                        a(href='/sells/form') Post a New Ad
                    li
                        a(href='#') Agents
                    li
                        a(href='#') Email Alerts
                    li
                        a(href='#') Questions
                    li
                        a(href='/') Contact
                +nav(user)

    block body
    .text-center
    .container
        .navbar.top-nav-back.navbar-default
            ul.bottom-nav-menu
                li
                    a(href='/sells/all') Sales
                li
                    a(href='#') Rentals
                li
                    a(href='#') Latest Ads
                li
                    a(href='/sells/form') Post a New Ad
                li
                    a(href='#') Agents
                li
                    a(href='#') Email Alerts
                li
                    a(href='#') Questions
                li
                    a(href='#') Contact
