mixin nav(user)
    ul.nav.navbar-nav.navbar-right
        if user
            li
                a(href='#' data-toggle="dropdown" aria-extended="true").dropdown-toggle
                    =user.username
                    span.caret
                ul(role="menu").dropdown-menu
                    li
                        a(href='#')
                            | My Account
                    li
                        a(href="#")
                            | Saved Properties   
                    li
                        a(href="/auth/sign-out")
                            | Logout 
        else
            li
                a(href="/auth/sign-up")
                    | Register
            li
                a(href="/auth/sign-in")
                    | Sign In
