mixin nav(user)
    ul.nav.navbar-nav.navbar-right
        if user
            li
                a(href='#' data-toggle="dropdown" aria-extended="true").dropdown-toggle
                    img(src='/static/pictures/img/'+ user.avatar, alt="", class="img-circle")
                    =user.username
                    span.caret
                ul(role="menu").dropdown-menu
                    li
                        a(href='/user')
                            | My Account
                    li
                        a(href="/chat/user-session")
                            | Messages 
                    li
                        a(href="/auth/sign-out")
                            | Logout 
        else
            li
                a(href="/auth/sign-up")
                    | Register
            li
                a(href="/auth/sign-in")
                    | Sign In
