<!DOCTYPE html>
html(lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Real Estate
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/css/css.css')
    link(rel='stylesheet', href='/static/css/app.css')
    link(rel='stylesheet', href='/static/css/main.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
body
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        br
        h4 Property Portal Site
        p
          img(src='../static/pictures/not_found.jpg', alt='')
        h2
          i.fa.fa-exclamation-triangle(style='color:red')
          |  Page not found 
          small 404 error
        p
          | Well, this is embarrassing.
          br
        p
          a(href='/') Click here
          |  to visit our home page
        
    
    