extends ../_shared/_base

block body       
    .container
        #signin.text-center.col.align-self-center.no-center-padding
            .search-panel
                h3 We are the Bug Squashers Team
                p
                    | "Bug Squashers Team." is a Telerik Academy - Web Applications with Node.js Course
                br
                p Doroteya Nikolova 
                p Nayden Mominski
                p Arushev