extends ../_shared/_base

block body
	#dashboard
		h1.page-header Dashboard
		.row.placeholders
			#map-dashboard(class="col-md-12")
		h2.sub-header List Sells Estates
		.table-responsive
			table#sellTable.table.table-striped
				thead
					tr
						th #
						th Headline
						th Property
						th Location
						th Price
						th Size
						th Bedrooms
						th Bathrooms
				tbody
					each sell in sells
						tr(data-id=sell._id)
							td.img-data
								img(src='/static/pictures/sell/' + sell.avatar)
							td 
								= sell.headline
							td 
								= sell.property
							td 
								= sell.address
							td 
								= sell.price
							td 
								= sell.size
							td 
								= sell.bedrooms
							td 
								= sell.bathrooms
							td
								p(data-placement='top', data-toggle='tooltip', title='Edit')
									a.btn.btn-primary.btn-xs(href='/sells/edit/' + sell._id, data-title='Edit')
										i.fa.fa-pencil(aria-hidden='true')
							td
								p(data-placement='top', data-toggle='tooltip', title='Delete')
									form(action='/sells/edit/'+sell._id , method='POST')
										button.btn.btn-danger.btn-xs(type='submit', data-title='Delete')
											i.fa.fa-trash(aria-hidden='true')
			div.clearfix
			div.row
				ul#pagerSell.pagination.pull-right
		h2.sub-header List Rents Estates
		.table-responsive
			table#rentTable.table.table-striped.table-bordred
				thead
					tr
						th #
						th Headline
						th Property
						th Location
						th Price
						th Size
						th Bedrooms
						th Bathrooms
				tbody
					each rent in rents
						tr(data-id=rent._id)
							td.img-data
								img(src='/static/pictures/rent/' + rent.avatar)
							td 
								= rent.headline
							td 
								= rent.property
							td 
								= rent.address
							td 
								= rent.price
							td 
								= rent.size
							td 
								= rent.bedrooms
							td 
								= rent.bathrooms
							td
								p(data-placement='top', data-toggle='tooltip', title='Edit')
									a.btn.btn-primary.btn-xs(data-title='Edit', href='/rents/edit/' + rent._id)
										i.fa.fa-pencil(aria-hidden='true')
							td
								p(data-placement='top', data-toggle='tooltip', title='Delete')
									form(action="/rents/edit/"+rent._id , method="POST")
										button.btn.btn-danger.btn-xs(type='submit', data-title='Delete')
											i.fa.fa-trash(aria-hidden='true')
			div.clearfix
			div.row
				ul#pagerRent.pagination.pull-right
block script
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5X1qhmU-V6X5WUhfCyF7-UIWgZO4m4&sensor=false&libraries=places,drawing')
	script
		| System.import("googlemap");
	script
		| System.import("pagination");
	script
		| System.import("paging");