extends ../../_shared/_base

block body
    ul.subnav.list
        li.nav-item
            a#btn-subnav-all(href="/sells")
                | All
        li.nav-item
            a#btn-subnav-create(href="/sells/form")
                | Add
    block content