
extends ../sells/form
block map
    div#map(style="width: 500px; height: 300px; position: relative; overflow: hidden;")
    script(src="../../static/js/googlemap-api.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5X1qhmU-V6X5WUhfCyF7-UIWgZO4m4&callback=initMap")
