extends _shared/_base

block content
    .container
        .margin-top-5
        .pull-right
            a#show_search.visible-xs.visible-sm.pull-left.btn.btn-sm.btn-default.btn-gradient(href="javascript:ShowHide('left_panel')") Search for a property
        .clear
        br
        .col-md-9.text-left
            .panel.panel-default.results-info
                .number-results
                    | Total Results: 
                    b
                        =results
                .rfloat.r-margin-4.add-top-margin Results Format: 
                .clear
            .clear

             for item in context
                .results-container
                    .panel.panel-default.search-result
                        // template
                        // template
                        .panel-heading.featured-heading
                            h3.panel-title
                                a.search-result-title.featured-r-title(href='sells/' + item._id)
                                    =item.headline
                                span.listing-price.r-margin-18
                                    b
                                        =item.price
                        .panel-body
                            .row
                                .col-sm-5.col-xs-12
                                    a.btn-block.result-details-link(href='sells/' + item._id)
                                        img.img-res(alt=item.headline, src='static/pictures/sell/'+ item.avatar)
                                .col-sm-7.col-xs-12
                                    .details
                                        p.description
                                            // template
                                            | Location: 
                                            b
                                                =item.location
                                            br
                                            br
                                            | Bedrooms:
                                            b 1
                                            | Bathrooms:
                                            b 1
                                            | , 
                                            br
                                            br
                                            b
                                            =item.description
                                        span.is_r_featured .
                            .row.margin-top-20
                                .col-xs-6
                                .col-xs-6
                                    .text-right
                                        a.btn.btn-primary(href='sells/' + item._id) Details

            .clear
            ul.pagination
                for page,index in pages
                    if(page.curentPage===index)
                        li.page-item.active
                            a.pagination-link(href=`/sells?province=${page.searchQuery.location}&price_from=${page.searchQuery.min}&price_to=${page.searchQuery.max}&order_by=${page.searchQuery.orderBy}&page=${index}`)=index+1
                    else
                        li.page-item
                            a.pagination-link(href=`/sells?province=${page.searchQuery.location}&price_from=${page.searchQuery.min}&price_to=${page.searchQuery.max}&order_by=${page.searchQuery.orderBy}&page=${index}`)=index+1